@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital@0;1&display=swap");

body {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: #eff1ed;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
}

.dropdown {
  width: 90%;
  background: transparent;
}